.homePage {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 0;
    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        h1 {
            font-size: 120px;
            background: linear-gradient(134.45deg, #FF2E2E, #61AFFF);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 600;

            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 130px;
                height: 130px;
                border-radius: 50%;
                top: 145px;
                left: 320px;
                transform: translate(-50%, -50%);
                background: rgba(255, 46, 35, 0.8);
                filter: blur(85px);
                z-index: -1;
            }

            @media screen and (max-width: 1024px) {
                font-size: 64px;
            }
        }

        h2 {
            width: 85%;

            @media screen and (max-width: 1024px) {
                max-width: 100%;
            }
        }

        a {
            padding: 15px 25px;
            background-color: #3690FF;
            color: #fff;
            border-radius: 20px;
            font-size: 14px;
            font-weight: 600;
            margin-top: 20px;

            &:hover {
                background-color: #ffffffd8;
                color: #3690FF;
            }
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #140e2d;
            background: linear-gradient(to bottom, #3216AE, #150948);
            border-radius: 50px;
            width: 85%;
            height: 60%;
            position: relative;
            opacity: 0.9;

            .bgContainer {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50px;

                .bg {
                    background-image: url("/bg.png");
                    opacity: 0.1;
                    width: 200%;
                    height: 100%;
                    background-size: auto 100%;
                    animation: 8s ease-in-out infinite alternate slideBg;
                }
            }
        }

        .bot {
            width: 45%;
            animation: 3s ease-in-out infinite alternate botAnimate;
        }

        .chat {
            font-size: 16px;
            position: absolute;
            bottom: -30px;
            right: -50px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 20px;
            background-color: #2c2937;
            max-width: 515px;
            border-radius: 10px;
            margin-left: 5px;

            @media screen and (max-width: 1024px) {
                display: none;
            }

            @media screen and (max-width: 1200px) {
                right: 0;
            }

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
    }

    .copyright {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: #9394A5;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .links {
            display: flex;
            gap: 5px;
            font-size: 12px;

            a {
                color: #3690FF;

                &:hover{
                    color:#61AFFF;
                }
            }
        }
    }
}

@keyframes botAnimate {
    0% {
        scale: 1;
        rotate: 0deg;
    }

    100% {
        scale: 1.1;
        rotate: -5deg;
    }
}

@keyframes slideBg {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}