.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .tools {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    }

    main {
        flex: 1;
        overflow: hidden;
    }

    .signInButton {
        padding: 5px 15px;
        background-color: #36628F;
        color: #fff;
        border-radius: 20px;
        font-size: 14px;

        &:hover {
            background-color: #fff;
            color: #36628F;
        }
    }
}